extends layout
block navigation
	.ui.top.attached.tabular.menu(style="margin-top:0.4em; margin-left:0.4em")
		a.item(style="font-size:1.6em; padding: 0.45em 2.5em;" href="/") Home
		a.active.item(style="background-color: #2185D0; color: #FFFFFF; font-size:1.6em; padding: 0.45em 2.5em;" href="/inventory") Inventory
		a.item(style="font-size:1.6em; padding: 0.45em 2.5em;" href="/reports") Reports
		.right.menu
			a.item(style="font-size:1.3em; padding: 0.2em .2em;" href="/inventory/"+loc) 
				b Back
					i.large.sign.out.icon
			if "ACTIVE"==reader.status
				a.item(style="font-size:1.3em; padding: 0.2em .2em;" href="/reader/"+reader.location) 
					i.large.blue.spinner.loading.icon
	if success
		.ui.small.positive.message
			h3= success
	if error
		.ui.small.negative.message
			h3= error
block content
	#info.ui.segment
		.ui.internally.celled.grid
			.twelve.wide.column
				form.ui.form(method="post")
					h3.ui.dividing.header Edit Tag
					.fields
						.eight.wide.field
							label Asset ID
								input(type="text" name="assetId" placeholder=tag.assetId value=tag.assetId)
						.eight.wide.field
							label Sign Type
								input(type="text" name="signType" placeholder=tag.signType value=tag.signType)
					.field
						label RFID Tag
							input(placeholder=tag.tagId name="tagId" readonly="" type="text" value=tag.tagId)
					.fields
						.eight.wide.field
							label Address
								input(placeholder=tag.address name="address" type="text" value=tag.address)
						.eight.wide.field
							label Location
								input(placeholder=tag.location name="location" value=tag.location)
					.fields
						.eight.wide.field
							label Latitude
								input(type="text" name="lat" placeholder=tag.lat value=tag.lat)
						.eight.wide.field
							label Longitude
								input(type="text" name="lon" placeholder=tag.lon value=tag.lon)		
					.ui.centered.grid
						.row
							.left.floated.left.aligned.eight.wide.column
								button.ui.labeled.icon.green.button(type="submit" name="update_button" value="update" formaction="/inventory/"+loc+"/tagUpdate/"+tag.tagId) Save
									i.save.outline.icon
							.right.floated.right.aligned.eight.wide.column
								button.ui.labeled.icon.red.button(type="button" onClick="showModal('"+loc+"','"+tag.tagId+"')") Delete
									i.trash.outline.icon
							.ui.small.test.modal
								.header	Confirm Delete
								.content
									p Are you sure you want to Delete this Tag ?
								.actions
									button.ui.negative.button No
									button.ui.positive.right.labeled.icon.button(type="submit" name="delete_button" value="delete" formaction="/inventory/"+loc+"/tagDelete/"+tag.tagId) Yes
										i.checkmark.icon
							script.
								function showModal(loc,tagID)	{
									$('.small.test.modal')
									  .modal({
									  	blurring: true,
									  	onDeny    : function() {
									    },
									    onApprove : function() {
									    	$.post("/inventory/"+loc+"/tagDelete/"+tagID,{}, function(result)	{
									    		window.location="/inventory/"+loc;
									    	})
									    }
									  })
									  .modal('show')
									;
								}				
			.four.wide.column(style="margin-top:3%")
				img.ui.centered.medium.image(src="/assets/"+tag.assetId+".png")				