extends layout
block navigation
	.ui.top.attached.tabular.menu(style="margin-top:0.4em; margin-left:0.4em")
		a.item(style="font-size:1.6em; padding: 0.45em 2.5em;" href="/") Home
		a.active.item(style="background-color: #2185D0; color: #FFFFFF; font-size:1.6em; padding: 0.45em 2.5em;" href="/inventory") Scan
		a.item(style="font-size:1.6em; padding: 0.45em 2.5em;" href="/reports") Reports
		.right.menu
			a.item(style="font-size:1.3em; padding: 0.2em .2em;" href="/")
				b Back  
					i.large.sign.out.icon
			if "ACTIVE"==reader.status
				a.item(style="font-size:1.3em; padding: 0.2em .2em;" href="/scanner/")
					i.large.blue.spinner.loading.icon
	if success
		.ui.small.positive.message
			h3= success
	if error
		.ui.small.negative.message
			h3= error
block content
	#info.ui.container.segment(style="margin-top:5%;")
		#areas.ui.internally.celled.left.aligned.grid
			.row
				.left.floated.left.aligned.twelve.wide.column
					p(style="font-size:1.3em;") Please select the maximum number of tags from 1 - 1000
					.ui.internally.celled.grid
						.row
							.three.wide.column
								center 
									button.ui.icon.blue.button(onclick="decrementSlider()")
										i.large.angle.left.icon
							.ten.wide.column
								center(id="slider_val") 1
								p
								.ui.slider.range
									input(style="width:100%;" type="range" id="sliderVal" value="1" min="1" max="1000" onchange="sliderUpdate()")
							.three.wide.column
								center 
									button.ui.icon.blue.button(onclick="incrementSlider()")
										i.large.angle.right.icon
				.right.floated.center.aligned.four.wide.column
					if "ACTIVE"==reader.status 
						button.ui.labeled.icon.blue.button(onclick="location.href=/scanner/") Scanning..
							i.play.icon
					else
						button.ui.labeled.icon.blue.button(style="height:90%" onclick="scanStart()") Scan
							i.play.icon
				script.
					function sliderUpdate()	{
						var x = document.getElementById("sliderVal").value;
						document.getElementById("slider_val").innerHTML = x;
					}
					function incrementSlider()	{
						var x = parseInt(document.getElementById("sliderVal").value);
						x=x+1;
						document.getElementById("sliderVal").value=x;
						document.getElementById("slider_val").innerHTML = x;
					}
					function decrementSlider()	{
						document.getElementById("sliderVal").value-=1;
						var x = parseInt(document.getElementById("sliderVal").value);	
						x=x-1;
						document.getElementById("sliderVal").value=x;
						document.getElementById("slider_val").innerHTML = x;
					}
					function scanStart()	{
						location.href='/scannerInit/'+document.getElementById("sliderVal").value;
					}