extends layout
block append scripts
	script(src='/socket.io/socket.io.js')
block content
	#bar.ui.raised.very.padded.text.container.segment(style="margin-top:5%;")
		p 
			strong Date : #{date}
		p
			strong Max no. of RFID Tags = #{maxTags}
		.ui.small.negative.message.transition.hidden(style="margin-top:10%;")
			.ui.fluid.grid
				.ten.wide.column
					.header Error
					p(id="errorMessage")= error
				.six.wide.right.aligned.column
					button.ui.right.labeled.icon.button(id="back_button") Back
						i.right.arrow.icon 
		.ui.indicating.progress.container(data-value="1" data-total="300" id="bar")
				.bar
					.progress
				.label Initializing the RFID reader
			script.
				window.onload = function() {
					var err = "#{error}";
					if(err)	{
						$('.message').transition('show');
						$('.indicating.progress').transition('hide');
					}
					else	{
						$('.message').transition('hide');
						$('.indicating.progress').transition('show');
					}

					var socket = io.connect('http://localhost:3200');

					$('#back_button').click(function(){
						socket.emit('rfid_reader_reset',{maxTags:"#{maxTags}"});
						location.href='/inventory';
					})

					socket.emit('connect_rfid_reader',{maxTags:"#{maxTags}"});
					window.fakeProgress = setInterval(function() {
						$('.ui.progress').progress('increment');
						if($('.ui.progress').progress('is complete'))   {
							clearInterval(window.fakeProgress);
					}},10);

					socket.on('rfid_reader_status', function (data) {
						if ('ACTIVE'==data.status)
							location.href="/scanner/";
						if ('ERROR'==data.status)	{
							console.log("ERROR connecting to the reader!!");
							$('.indicating.progress').transition('hide');
							$('#errorMessage').text('Error connecting to rfid reader. Check Connections!');
							$('.message').transition('show');
						}
					});
				}