extends layout
block navigation
	.ui.attached.header
		nav.ui.four.item.menu
			a.header.item(href="/") Home
			a.active.item(href="/area") Inventory
			a.item(href="/reports") Reports
			a.item(href="/reader") Reader
block content
	#info.ui.segment
		form.ui.form(id="tag_form")
			if tag
				h4.ui.dividing.header Edit Tag
			else
				h4.ui.dividing.header New Tag
			.fields
				.six.wide.field
					label Asset ID
					if tag
						input(type="text" name="tag[assetID]" placeholder=tag.assetId)
					else
						input(type="text" name="tag[assetID]" placeholder="Asset ID")
				.six.wide.field
					label Sign Type
					if tag
						input(type="text" name="tag[signType]" placeholder=tag.signType)
					else
						input(type="text" name="tag[signType]" placeholder="Sign Type")
			.field
				label RFID Tag
				if tag
					input(placeholder=tag.tagId name="tag[tagId]" readonly="" type="text")
				else
					input(placeholder="RFID Tag" name="tag[tagId]" type="text")
			.field
				label Address
				if tag
					input(placeholder=tag.address name="tag[address]" type="text")
				else
					input(placeholder="Address" name="tag[address]" type="text")
			.fields
				.six.wide.field
					label Latitude
					if tag
						input(type="text" name="tag[lat]" placeholder=tag.lat)
					else
						input(type="text" name="tag[lat]" placeholder="Latitude")
				.six.wide.field
					label Longitude
					if tag
						input(type="text" name="tag[lon]" placeholder=tag.lon)
					else
						input(type="text" name="tag[lon]" placeholder="Longitude")
		if tag				
			button.ui.blue.button(type="submit") Update
		else
			button.ui.blue.button(type="submit") Create
